::ng-deep .autocomplete.ng-autocomplete {
  .autocomplete-container {
    height: 28px;
  }

  .autocomplete-container .input-container input {
    color: #2e2a31;
    line-height: 28px;
    height: 28px;
    min-width: 0;
    font-size: 1rem;
    padding-left: 0.25rem;
  }

  .autocomplete-container .x {
    display: none;
  }
}
