<div
  class="fixed top-0 right-0 bottom-0 left-0 overflow-x-hidden overflow-y-auto flex-col items-center"
  [class.hidden]="!displayed"
  [class.flex]="displayed"
  style="background-color: rgba(0, 0, 0, 0.5)"
>
  <div class="flex flex-col items-center bg-[#2e2a31] text-white mt-20 p-5">
    <app-icon class="size-14" icon="dialog"></app-icon>
    <p class="my-3">{{ message }}</p>
    <div class="flex justify-end">
      <button class="mr-10 hover:underline" (click)="close(false)">
        Annuler
      </button>
      <button
        class="h-[30px] px-2 border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
        (click)="close(true)"
      >
        Confirmer
      </button>
    </div>
  </div>
</div>
