<div class="grid grid-cols-12 gap-1 bg-[#2e2a31] p-2 pt-0">
  <button
    class="col-span-6 mb-4 mt-2 h-[30px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center"
    (click)="generatorModal.open()"
  >
    <app-icon class="size-5 inline-block" icon="beaker"></app-icon>
    <span class="ml-1">Générer un PNJ aléatoire</span>
  </button>

  <button
    class="col-span-6 mb-4 mt-2 h-[30px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center"
    (click)="toElite()"
  >
    <app-icon class="size-5 inline-block" icon="bolt"></app-icon>
    <span class="ml-1">Transformer en élite</span>
  </button>

  <div class="col-span-4 flex flex-col">
    <label
      class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
    >
      Nom
    </label>
    <input
      class="text-[#2e2a31] h-[30px] pl-1"
      type="text"
      [(ngModel)]="npc.name"
      placeholder="Nom"
    />
  </div>

  <div class="col-span-4 flex flex-col">
    <label
      class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
    >
      Type
    </label>
    <select
      [(ngModel)]="npc.type"
      class="bg-white text-[#2e2a31] h-[30px] pl-1"
    >
      <option value="hostile">Hostile</option>
      <option value="salopard">Salopard</option>
      <option value="colosse">Colosse</option>
      <option value="patron">Patron</option>
      <option value="patron colosse">Patron colosse</option>
      <option value="bande">Bande</option>
      <option value="allié">Allié</option>
    </select>
  </div>

  <div class="col-span-4 flex flex-col">
    <label
      class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
    >
      Niveau
    </label>
    <select
      [(ngModel)]="npc.level"
      class="bg-white text-[#2e2a31] h-[30px] pl-1"
    >
      <option value="recrue">Recrue</option>
      <option value="initié">Initié</option>
      <option value="héros">Héros</option>
    </select>
  </div>

  <div class="col-span-12 flex flex-col">
    <label
      class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
    >
      Couleur
    </label>
    <div class="flex flex-row flex-wrap">
      <button
        class="w-[100px] h-[30px] border border-white flex items-center justify-center"
        [(colorPicker)]="npc.color"
        [style.background-color]="npc.color"
      >
        <app-icon class="size-5 inline-block" icon="brush"></app-icon>
      </button>

      @for (color of colors; track color) {
        <button
          class="w-[30px] h-[30px] border border-white ml-2"
          [style.background-color]="color"
          (click)="npc.color = color"
        ></button>
      }
    </div>
  </div>

  <div class="col-span-12 grid grid-cols-5 gap-1">
    @for (aspect of npc.aspects; track aspect; let index = $index) {
      <div class="flex flex-col">
        <label
          class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
        >
          {{ aspects[index] }}
        </label>
        <input
          class="text-[#2e2a31] h-[28px] pl-1"
          [(ngModel)]="aspect.score"
          type="number"
          title="Score"
        />
        <div class="flex flex-row mt-0.5">
          <button
            class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] mr-0.5 hover:bg-[#2e2a31] hover:text-white"
            (click)="aspect.major = !aspect.major"
          >
            <app-icon
              class="size-5 block"
              icon="{{ aspect.major ? 'sparkles' : 'star' }}"
            ></app-icon>
          </button>
          <input
            class="text-[#2e2a31] h-[28px] pl-1 min-w-0 flex-grow"
            [(ngModel)]="aspect.exceptional"
            type="number"
            title="Aspect exceptionnel"
          />
        </div>
      </div>
    }
  </div>

  <div class="col-span-12 grid grid-cols-5 gap-1">
    @for (property of properties; track property) {
      <div class="flex flex-col">
        <label
          class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
        >
          {{ propertiesLabel[property] }}
        </label>
        <div class="flex flex-row">
          @if (computeProperty[property]) {
            <button
              class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] mr-0.5 hover:bg-[#2e2a31] hover:text-white"
              (click)="computeProperty[property]()"
            >
              <app-icon class="size-5 block" icon="calculator"></app-icon>
            </button>
          }
          <input
            class="text-[#2e2a31] h-[28px] pl-1 min-w-0 flex-grow"
            [(ngModel)]="npc[property]"
            type="number"
            title="{{ propertiesLabel[property] }}"
          />
        </div>
      </div>
    }

    <div class="flex flex-col">
      <label
        class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
      >
        Point faible
      </label>
      <input
        class="text-[#2e2a31] h-[28px] pl-1 min-w-0"
        type="text"
        [(ngModel)]="npc.weakness"
        placeholder="Point faible"
      />
    </div>
  </div>

  <div
    class="uppercase segoe-ui-bold font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center col-span-12"
  >
    Capacités
  </div>
  <div class="col-span-12 flex flex-col">
    @for (capacity of npc.capacities; track capacity) {
      <div class="p-1 mb-2 bg-[#42505a] flex flex-col">
        <div class="flex flex-row">
          <button
            class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] mr-0.5 hover:bg-[#2e2a31] hover:text-white"
            (click)="upCapacity(capacity)"
          >
            <app-icon class="size-5 block" icon="arrow-up"></app-icon>
          </button>
          <button
            class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] mr-0.5 hover:bg-[#2e2a31] hover:text-white"
            (click)="downCapacity(capacity)"
          >
            <app-icon class="size-5 block" icon="arrow-down"></app-icon>
          </button>
          <input
            class="text-[#2e2a31] h-[28px] pl-1 min-w-0 flex-grow"
            type="text"
            [(ngModel)]="capacity.name"
            placeholder="Nom"
          />
          <button
            class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] ml-0.5 hover:bg-[#2e2a31] hover:text-white"
            (click)="removeCapacity(capacity)"
            tabindex="-1"
          >
            <app-icon class="size-5 block" icon="X"></app-icon>
          </button>
        </div>
        <textarea
          class="text-[#2e2a31] h-[85px] pl-1 mt-0.5"
          [(ngModel)]="capacity.description"
          placeholder="Description"
        ></textarea>
      </div>
    }

    <button
      class="h-[28px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center"
      (click)="npc.newCapacity()"
    >
      <app-icon class="size-5 inline-block" icon="plus-circle"></app-icon>
      <span class="ml-1">Ajouter une capacité</span>
    </button>
  </div>

  <div
    class="uppercase segoe-ui-bold font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center col-span-12"
  >
    Armes
  </div>

  <div class="col-span-12 flex flex-col">
    @for (weapon of npc.weapons; track weapon) {
      <div class="p-1 mb-2 bg-[#42505a] flex flex-col">
        <div class="flex flex-row">
          <button
            class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] mr-0.5 hover:bg-[#2e2a31] hover:text-white"
            (click)="upWeapon(weapon)"
          >
            <app-icon class="size-5 block" icon="arrow-up"></app-icon>
          </button>
          <button
            class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] mr-0.5 hover:bg-[#2e2a31] hover:text-white"
            (click)="downWeapon(weapon)"
          >
            <app-icon class="size-5 block" icon="arrow-down"></app-icon>
          </button>
          <input
            class="text-[#2e2a31] h-[28px] pl-1 min-w-0 flex-grow"
            type="text"
            [(ngModel)]="weapon.name"
            placeholder="Nom"
          />
          <button
            class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] ml-0.5 hover:bg-[#2e2a31] hover:text-white"
            (click)="removeWeapon(weapon)"
            tabindex="-1"
          >
            <app-icon class="size-5 block" icon="X"></app-icon>
          </button>
        </div>

        <div class="grid grid-cols-12 gap-1 mt-0.5">
          <div class="col-span-3 flex flex-col">
            <span
              class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
            >
              Dégâts
            </span>
            <div class="flex flex-row items-center">
              <input
                class="text-[#2e2a31] h-[28px] pl-1 min-w-0 flex-grow"
                type="number"
                [(ngModel)]="weapon.dices"
              />
              <span class="segoe-ui-bold mr-1">D6&nbsp;+</span>
              <button
                class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] mr-0.5 hover:bg-[#2e2a31] hover:text-white"
                (click)="npc.computeWeaponRawDamage(weapon)"
              >
                <app-icon class="size-5 block" icon="calculator"></app-icon>
              </button>
              <input
                class="text-[#2e2a31] h-[28px] pl-1 min-w-0 flex-grow"
                type="number"
                [(ngModel)]="weapon.raw"
              />
            </div>
          </div>

          <div class="col-span-3 flex flex-col">
            <span
              class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
            >
              Violence
            </span>
            <div class="flex flex-row items-center">
              <input
                class="text-[#2e2a31] h-[28px] pl-1 min-w-0 flex-grow"
                type="number"
                [(ngModel)]="weapon.violenceDices"
              />
              <span class="segoe-ui-bold mr-1">D6&nbsp;+</span>
              <input
                class="text-[#2e2a31] h-[28px] pl-1 min-w-0 flex-grow"
                type="number"
                [(ngModel)]="weapon.violenceRaw"
              />
            </div>
          </div>

          <div class="col-span-6 flex flex-col">
            <span
              class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
            >
              Portée
            </span>
            <div class="flex flex-row">
              <button
                class="group size-7 min-w-7 mr-0.5 border border-white flex items-center justify-center bg-white hover:bg-[#2e2a31]"
                (click)="weapon.contact = !weapon.contact"
              >
                <img
                  class="size-5 group-hover:invert"
                  src="/assets/icon-knife.png"
                  alt="Arme de contact"
                  [hidden]="!weapon.contact"
                />
                <img
                  class="size-5 group-hover:invert"
                  src="/assets/icon-gun.png"
                  alt="Arme à distance"
                  [hidden]="weapon.contact"
                />
              </button>
              <select
                [(ngModel)]="weapon.range"
                class="bg-white text-[#2e2a31] h-[28px] pl-1 flex-grow"
              >
                <option value="contact">Contact</option>
                <option value="courte">Courte</option>
                <option value="moyenne">Moyenne</option>
                <option value="longue">Longue</option>
                <option value="lointaine">Lointaine</option>
              </select>
            </div>
          </div>

          <div class="col-span-3 flex flex-col">
            <span
              class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
            >
              Effets
            </span>
          </div>
          <div class="col-span-12 grid grid-cols-4 gap-1 mb-1">
            @for (effect of weapon.effects; track effect) {
              <div class="flex flex-row">
                <input
                  type="text"
                  class="text-[#2e2a31] h-[28px] pl-1 min-w-0"
                  [(ngModel)]="effect.name"
                />
                <button
                  class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] ml-0.5 hover:bg-[#2e2a31] hover:text-white"
                  (click)="removeEffect(weapon, effect)"
                  tabindex="-1"
                >
                  <app-icon class="size-5 block" icon="X"></app-icon>
                </button>
              </div>
            }

            <button
              class="h-[28px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center"
              (click)="weapon.newEffect()"
            >
              <app-icon
                class="size-5 inline-block"
                icon="plus-circle"
              ></app-icon>
              <span>Effet</span>
            </button>
          </div>
        </div>
      </div>
    }

    <button
      class="h-[28px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center"
      (click)="npc.newWeapon()"
    >
      <app-icon class="size-5 inline-block" icon="plus-circle"></app-icon>
      <span class="ml-1">Ajouter une arme</span>
    </button>
  </div>
</div>

<app-modal #generatorModal>
  <div class="flex items-center">
    <app-icon class="block size-5 mr-1 flex-shrink-0" icon="warning"></app-icon>
    <span class="text-sm">
      Les règles de génération de PNJ de cet outil sont différentes de celles de
      l'Atlas.
    </span>
  </div>

  <div class="flex flex-col mt-2">
    <label
      class="uppercase segoe-ui-bold-italic font-bold text-xs block text-center mt-2 mb-1"
      for="type"
    >
      Type
    </label>
    <select
      id="type"
      class="bg-white text-[#2e2a31] h-[30px] pl-1"
      [(ngModel)]="type"
    >
      <option value="hostile">Hostile</option>
      <option value="salopard">Salopard</option>
      <option value="colosse">Colosse</option>
      <option value="patron">Patron</option>
      <option value="patron colosse">Patron colosse</option>
      <option value="bande">Bande</option>
      <option value="allié">Allié</option>
    </select>

    <label
      class="uppercase segoe-ui-bold-italic font-bold text-xs block text-center mt-2 mb-1"
      for="level"
    >
      Niveau
    </label>
    <select
      id="level"
      class="bg-white text-[#2e2a31] h-[30px] pl-1"
      [(ngModel)]="level"
    >
      <option value="recrue">Recrue</option>
      <option value="initié">Initié</option>
      <option value="héros">Héros</option>
    </select>

    <label
      class="uppercase segoe-ui-bold-italic font-bold text-xs block text-center mt-2 mb-1"
      for="subType"
    >
      Sous type
    </label>
    <select
      id="subType"
      class="bg-white text-[#2e2a31] h-[30px] pl-1"
      [(ngModel)]="subType"
    >
      <option value="organique">Organique</option>
      <option value="robot">Robot</option>
      <option value="armuré">Armuré</option>
    </select>

    <div class="grid grid-cols-3 gap-2 mt-2">
      <button
        class="min-h-[30px] flex items-center text-left text-[#2e2a31] border border-white bg-white hover:bg-[#2e2a31] hover:text-white"
        (click)="forcefield = !forcefield"
      >
        <span class="mr-1 size-5">
          @if (forcefield) {
            <app-icon class="size-5 block" icon="check-circle"></app-icon>
          }
        </span>
        <span [class.segoe-ui-bold]="forcefield">CdF</span>
      </button>

      <button
        class="min-h-[30px] flex items-center text-left text-[#2e2a31] border border-white bg-white hover:bg-[#2e2a31] hover:text-white"
        (click)="energy = !energy"
      >
        <span class="mr-1 size-5">
          @if (energy) {
            <app-icon class="size-5 block" icon="check-circle"></app-icon>
          }
        </span>
        <span [class.segoe-ui-bold]="energy">Énergie</span>
      </button>

      <button
        class="min-h-[30px] flex items-center text-left text-[#2e2a31] border border-white bg-white hover:bg-[#2e2a31] hover:text-white"
        (click)="resilience = !resilience"
      >
        <span class="mr-1 size-5">
          @if (resilience) {
            <app-icon class="size-5 block" icon="check-circle"></app-icon>
          }
        </span>
        <span [class.segoe-ui-bold]="resilience">Résilience</span>
      </button>
    </div>

    <label
      for="power"
      class="uppercase segoe-ui-bold-italic font-bold text-xs block text-center mt-3 mb-1"
    >
      Puissance
    </label>
    <div class="flex flex-row items-center mt-2">
      <span class="inline-block mr-2 min-w-8">{{ power }}</span>
      <input
        id="power"
        type="range"
        [(ngModel)]="power"
        min="1"
        max="100"
        class="w-full h-1 bg-white rounded-lg appearance-none cursor-pointer range-sm"
      />
    </div>

    @for (label of slidersLabels; track label; let index = $index) {
      <label
        [for]="slidersNames[index]"
        class="uppercase segoe-ui-bold-italic font-bold text-xs block text-center mt-3 mb-1"
      >
        {{ slidersLabels[index] }}
      </label>
      <div class="flex flex-row items-center mt-2">
        <span class="inline-block mr-2 min-w-8">{{ sliders[index] }}</span>
        <input
          [id]="slidersNames[index]"
          type="range"
          [(ngModel)]="sliders[index]"
          min="1"
          max="10"
          class="w-full h-1 rounded-lg appearance-none cursor-pointer range-sm"
          [style.background-color]="slidersColors[index]"
        />
      </div>
    }

    <button
      class="h-[28px] mt-2 border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center"
      (click)="generate()"
    >
      <app-icon class="size-5 block" icon="beaker"></app-icon>
      <span class="ml-1">Générer</span>
    </button>
  </div>
</app-modal>
