<div class="bg-[#2e2a31] p-2 m-2 mx-auto max-w-[850px]">
	<h2 class="orbitron text-2xl ml-4 mb-2 tracking-widest [text-shadow:_0_0_4px_white]">Qu'est ce que Knight NPC Generator ?</h2>

	<p>
		Knight NPC Generator est un outil de création de PNJ pour le jeu de rôle
		<i>Knight</i> des éditions Antre-Monde. Vous trouverez toutes les informations nécessaires sur le site officiel&nbsp;:
		<a class="underline text-blue-600 hover:text-blue-400" href="https://knight-jdr.fr/">https://knight-jdr.fr/</a>
	</p>

	<h2 class="orbitron text-2xl mt-4 ml-4 mb-2 tracking-widest [text-shadow:_0_0_4px_white]">Comment partiper au projet ?</h2>

	<p>
		Si vous en avez les compétences et que vous désirez participer au projet, vous pouvez retrouver le projet sur
		<a class="underline text-blue-600 hover:text-blue-400" href="https://github.com/dreignier/kng">github</a>.
	</p>

	<h2 class="orbitron text-2xl mt-4 ml-4 mb-2 tracking-widest [text-shadow:_0_0_4px_white]">Comment signaler un bug ou faire une suggestion ?</h2>

	<p>
		Le moyen le plus efficace est de créer un ticket sur le projet
		<a class="underline text-blue-600 hover:text-blue-400" href="https://github.com/dreignier/knight-npc-generator/issues">github</a>. Vous pouvez aussi retrouver le sujet qui parle de Knight NPC
		generator sur
		<a class="underline text-blue-600 hover:text-blue-400" href="https://knight-jdr.forumactif.com/">les forums officiels du jeu de rôle <i>Knight</i></a>
		dans la partie réservée aux MJ.
	</p>

	<h2 class="orbitron text-2xl mt-4 ml-4 mb-2 tracking-widest [text-shadow:_0_0_4px_white]">Droits d'auteur</h2>

	<p>Le contenu du site est soumis aux droits d'auteur de ©Antre-Monde Editions et n'est disponible que grâce à leur autorisation.</p>

	<h2 class="orbitron text-2xl mt-4 ml-4 mb-2 tracking-widest [text-shadow:_0_0_4px_white]">Licence</h2>

	<p>
		Le projet Knight NPC Generator est un projet opensource sous licence
		<a class="underline text-blue-600 hover:text-blue-400" href="https://github.com/dreignier/knight-npc-generator/blob/main/LICENSE"> GNU GPL v3</a>.
	</p>
</div>
