@if (isTitle(element)) {
  <div
    class="flex flex-row items-start justify-between uppercase tracking-[-1px] segoe-ui-bold"
    [style.--color]="element.color"
  >
    <div class="gradient-text flash text-[50px] mr-[20px]">
      {{ element.big }}
    </div>
    <div class="flex flex-col text-[25px] text-nowrap">
      @for (part of element.titleHtml(sanitizer); track part) {
        <span class="gradient-text" [innerHtml]="part"></span>
      }
    </div>
  </div>
} @else if (isHeader(element)) {
  <div class="flex flex-col items-center">
    <span
      class="gradient-text flash inline-block segoe-ui-bold text-[30px] uppercase mb-[-15px]"
      [style.--color]="element.color"
    >
      {{ element.header }}
    </span>
  </div>
} @else if (isArticle(element)) {
  <div
    class="article alternate{{
      element.background
    }} p-[10px] pb-[15px] rounded-[3px] relative"
    [class.shadowX]="element.shadowX"
    [class.shadowY]="element.shadowY"
    [style.--bg-color]="element.bgColor"
    [style.--color]="element.color"
  >
    @for (corner of element.corners; let index = $index; track $index) {
      @if (corner) {
        <div class="article-corner article-corner{{ $index }}"></div>
      }
    }

    <div
      class="article-content"
      [innerHTML]="converter.makeHtml(element.content)"
    ></div>
  </div>
} @else if (isSeparator(element)) {
  <hr
    class="h-[2px] w-[60%] absolute border-none"
    [class.right-[-5px]]="element.align === 'right'"
    [class.left-[-5px]]="element.align === 'left'"
    [style.background-color]="element.color"
  />
}
