@if (isTitle(element)) {
  <div
    class="flex flex-row items-start justify-between uppercase tracking-[-1px] segoe-ui-bold flash-container flash-container-title bg-[#39373e]"
    [style.--color]="element.color"
  >
    <div class="gradient-text flash text-[50px] mr-[20px]">
      {{ element.big }}
    </div>
    <div class="flex flex-col text-[25px] text-nowrap">
      @for (part of element.titleHtml(sanitizer); track part) {
        <span class="gradient-text" [innerHtml]="part"></span>
      }
    </div>
  </div>
} @else if (isHeader(element)) {
  <div class="flex flex-col items-center">
    <span class="inline-block bg-[#39373e] flash-container">
      <span
        class="gradient-text flash flash-container inline-block segoe-ui-bold text-[30px] uppercase text-center"
        [style.--color]="element.color"
      >
        {{ element.header }}
      </span>
    </span>
  </div>
} @else if (isArticle(element)) {
  <div
    class="relative"
    [style.--bg-color]="element.bgColor"
    [style.--color]="element.color"
  >
    <div
      class="article alternate{{
        element.background
      }} p-[10px] pb-[15px] rounded-[3px] relative"
      [class.shadowX]="element.shadowX"
      [class.shadowY]="element.shadowY"
    >
      @for (corner of element.corners; let index = $index; track $index) {
        @if (corner) {
          <div class="article-corner article-corner{{ $index }}"></div>
        }
      }

      <div
        class="article-content"
        [innerHTML]="converter.makeHtml(element.content)"
      ></div>
    </div>

    @if (element.bug) {
      @for (i of [1, 2, 3, 4, 5]; track i) {
        <div
          class="article alternate{{
            element.background
          }} p-[10px] pb-[15px] rounded-[3px] bug{{ i }}"
        >
          <div
            class="article-content"
            [innerHTML]="converter.makeHtml(element.content)"
          ></div>
        </div>
      }
    }
  </div>
} @else if (isSeparator(element)) {
  <hr
    class="h-[2px] w-[60%] border-none relative separator overflow-visible {{
      element.align || 'left'
    }}"
    [style.--color]="element.color"
    [style.background-color]="element.color"
  />
}
