#sliders {
  input[type="range"] {
    pointer-events: all;
    display: block;
    padding: 0;

    & + input[type="range"] {
      margin-top: -16px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 1rem;
      height: 1rem;
      border: 1px solid white;
      border-radius: 100%;
      background: white;

      &:hover {
        background: #2e2a31;
      }
    }

    &::-moz-range-thumb {
      pointer-events: all;
      width: 1px;
      height: 1rem;
      background: white;

      &:hover {
        background: #2e2a31;
      }
    }

    &::-ms-thumb {
      pointer-events: all;
      width: 1rem;
      height: 1rem;
      border: 1px solid white;
      border-radius: 100%;
      background: white;

      &:hover {
        background: #2e2a31;
      }
    }
  }
}

.ra-element {
  position: relative;
  cursor: pointer;

  &:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: -7.5px;
    left: -5px;
    bottom: -7.5px;
    right: -5px;
    border: 2px solid white;
  }

  &:last-child:hover::before {
    bottom: -15px;
  }

  &:first-child:hover::before {
    top: -15px;
  }

  &:first-child .ra-toolbar {
    top: -15px;
  }
}
