<div class="flex flex-col items-center" (click)="onGlobalClick()">
  <div class="bg-[#2e2a31] p-2 mt-1 w-[1120px]">
    <div class="flex flex-row gap-2">
      <button
        class="h-[30px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center flex-grow"
        (click)="news.addColumn()"
      >
        <app-icon class="size-5 inline-block" icon="plus-circle"></app-icon>
        <span class="ml-1">Ajouter une colonne à droite</span>
      </button>

      <button
        class="h-[30px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center flex-grow"
        (click)="news.removeColumn()"
      >
        <app-icon class="size-5 inline-block" icon="minus-circle"></app-icon>
        <span class="ml-1">Supprimer la colonne de droite</span>
      </button>
    </div>

    <p>
      Vous pouvez bouger les curseurs pour modifier la largeur des colonnes.
    </p>

    <div id="sliders" class="px-3 relative mt-2">
      @for (slider of news.sliders; track slider) {
        <input
          type="range"
          class="h-4 cursor-move appearance-none bg-transparent"
          [style.width]="slider.max - slider.min + 'px'"
          [style.margin-left]="slider.min + 'px'"
          [min]="slider.min"
          [max]="slider.max"
          [step]="1"
          [(ngModel)]="slider.value"
          (ngModelChange)="news.slider(slider)"
        />
      }
    </div>
  </div>

  <div id="news" class="mt-2">
    <div
      id="newsContent"
      class="w-[1120px] p-[20px] text-white segoe-ui text-[14px] leading-[1.1] relative"
    >
      <div class="flex flex-row gap-[20px]">
        @for (column of news.columns; track column) {
          <div class="flex flex-col" [style.width]="column.width + 'px'">
            @for (element of column.elements; track element) {
              <div
                class="flex flex-col py-[7.5px] first:pt-0 last:pb-0 ra-element z-0"
                [class.active]="element === activeElement"
                (click)="onClick(element, $event)"
              >
                <app-news-element [element]="element"></app-news-element>

                <div
                  class="ra-toolbar flex flex-row justify-between left-[-5px] right-[-5px] top-[-7.5px]"
                  [class.hidden]="
                    element !== activeElement || editModal.displayed
                  "
                  [class.absolute]="
                    element === activeElement && !editModal.displayed
                  "
                >
                  <div class="flex flex-row gap-1">
                    <button
                      class="size-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
                      (click)="column.up(element)"
                    >
                      <app-icon class="size-5 block" icon="arrow-up"></app-icon>
                    </button>
                    <button
                      class="size-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
                      (click)="column.down(element)"
                    >
                      <app-icon
                        class="size-5 block"
                        icon="arrow-down"
                      ></app-icon>
                    </button>
                    <button
                      class="size-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
                      (click)="edit(element)"
                    >
                      <app-icon class="size-5 block" icon="pencil"></app-icon>
                    </button>
                  </div>

                  <button
                    class="size-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
                    (click)="column.remove(element)"
                  >
                    <app-icon class="size-5 block" icon="X"></app-icon>
                  </button>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>

  <div
    class="w-[1120px] p-[20px] text-white segoe-ui text-[14px] leading-[1.1] relative"
  >
    <div class="flex flex-row gap-[20px]">
      @for (column of news.columns; track column) {
        <div class="flex flex-col gap-2" [style.width]="column.width + 'px'">
          <button
            class="h-[30px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center flex-grow"
            (click)="column.addTitle()"
          >
            <app-icon class="size-5 inline-block" icon="plus-circle"></app-icon>
            <span class="ml-1">Ajouter un titre</span>
          </button>

          <button
            class="h-[30px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center flex-grow"
            (click)="column.addHeader()"
          >
            <app-icon class="size-5 inline-block" icon="plus-circle"></app-icon>
            <span class="ml-1">Ajouter un flash</span>
          </button>
          <button
            class="h-[30px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center flex-grow"
            (click)="column.addArticle()"
          >
            <app-icon class="size-5 inline-block" icon="plus-circle"></app-icon>
            <span class="ml-1">Ajouter un article</span>
          </button>
          <button
            class="h-[30px] border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center flex-grow"
            (click)="column.addSeparator()"
          >
            <app-icon class="size-5 inline-block" icon="plus-circle"></app-icon>
            <span class="ml-1">Ajouter un séparateur</span>
          </button>
        </div>
      }
    </div>
  </div>

  <div class="flex flex-row mt-1 w-[1120px]">
    <button
      class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
      (click)="save(news)"
      title="Sauvegarder"
    >
      <app-icon class="size-5 block" icon="save"></app-icon>
    </button>

    <button
      class="size-7 min-w-7 ml-2 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
      (click)="image('news')"
      title="Convertir en image"
    >
      <app-icon class="size-5 block" icon="camera"></app-icon>
    </button>

    <button
      class="size-7 min-w-7 ml-2 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
      (click)="openImport()"
      title="Importer"
    >
      <app-icon class="size-5 block" icon="import"></app-icon>
    </button>

    <button
      class="size-7 min-w-7 ml-2 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
      (click)="export(news)"
      title="Exporter"
    >
      <app-icon class="size-5 block" icon="export"></app-icon>
    </button>
  </div>
</div>

<app-modal-canvas #imageModal></app-modal-canvas>

<app-modal #importModal>
  <p class="text-justify text-sm">
    Vous pouvez coller ici le résultat d'un export de news RA pour l'importer.
  </p>

  <div class="flex flex-col mt-2">
    <textarea
      class="text-[#2e2a31] h-24 pl-1 text-sm"
      [(ngModel)]="imported"
    ></textarea>

    <button
      class="h-[28px] mt-2 border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center"
      (click)="import()"
    >
      <app-icon class="size-5 block" icon="import"></app-icon>
      <span>Importer</span>
    </button>
  </div>
</app-modal>

<app-modal #exportModal>
  <p class="text-justify text-sm">
    Vous pouvez copier/coller ce texte et l'utiliser pour importer une news RA
    dans tout outil supportant ce format. Vous pouvez bien sur l'utiliser dans
    l'outil d'import de Knight NPC Generator.
  </p>

  <div class="flex flex-col mt-2">
    <textarea class="text-[#2e2a31] h-24 pl-1 text-sm">{{ exported }}</textarea>
  </div>
</app-modal>

<app-modal #editModal [large]="true">
  <div class="grid grid-cols-12 gap-4 mt-4">
    <app-news-element-form
      class="col-span-7"
      [element]="editedElement!"
    ></app-news-element-form>
    <app-news-element
      class="col-span-5 relative z-10"
      [element]="editedElement!"
    ></app-news-element>

    <button
      class="col-span-12 h-[30px] mt-2 border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center flex-grow"
      (click)="saveEditedElement()"
    >
      <app-icon class="size-5 inline-block" icon="check-circle"></app-icon>
      <span class="ml-1">Sauvegarder</span>
    </button>
  </div>
</app-modal>
