.equipment {
  clip-path: polygon(27px 0, 100% 0, 100% 100%, 0 100%, 0 27px);

  &::before {
    position: absolute;
    left: 0px;
    top: 0px;
    content: "";
    border-top: 30px solid var(--secondary);
    border-right: 30px solid transparent;
  }
}

.header {
  background: linear-gradient(90deg, transparent 0px, #2b2c2c 40%),
    repeating-linear-gradient(
      135deg,
      #2b2c2c 0px,
      #2b2c2c 2px,
      #585858 4px,
      #2b2c2c 6px
    );
  box-shadow: 0 0 8px 8px #2b2c2c inset;
}

.equipment.module {
  .header {
    background:
      linear-gradient(90deg, transparent 0px, #2b2c2c 40%),
      linear-gradient(90deg, #2b2c2c calc(6px - 1px), transparent 1%) center /
        6px 6px,
      linear-gradient(#2b2c2c calc(6px - 1px), transparent 1%) center / 6px 6px,
      var(--secondary);
  }

  .logo {
    border: 2px solid var(--secondary);
    border-radius: 100%;
    background: radial-gradient(circle, var(--logo) 0%, transparent 100%),
      #2b2c2c;
  }
}

.type {
  &::before {
    position: absolute;
    left: -17px;
    top: 0px;
    content: "";
    border-bottom: 17px solid var(--secondary);
    border-left: 17px solid transparent;
  }

  &::after {
    position: absolute;
    right: -17px;
    top: 0px;
    content: "";
    border-top: 17px solid var(--secondary);
    border-right: 17px solid transparent;
  }
}

.cost {
  &::before {
    position: absolute;
    left: -51px;
    top: -2px;
    content: "";
    border-bottom: 51px solid var(--secondary);
    border-left: 51px solid transparent;
  }

  &::after {
    position: absolute;
    left: -49px;
    top: 0px;
    content: "";
    border-bottom: 49px solid #2b2c2c;
    border-left: 49px solid transparent;
  }
}

.border-secondary {
  border-color: var(--secondary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.border-tertiary {
  border-color: var(--tertiary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-primary {
  background-color: var(--primary);
}

.shiny .type {
  background: linear-gradient(
    135deg,
    var(--secondary) 35%,
    white 47%,
    white 53%,
    var(--secondary) 65%,
    var(--secondary) 100%
  );
}
