@if (equipment) {
  <div
    class="equipment w-[362px] bg-primary text-black text-[13px] leading-tight relative {{
      equipment.appearance
    }}"
    [class.shiny]="shiny(equipment.level)"
    [style.--primary]="primary(equipment.level)"
    [style.--secondary]="secondary(equipment.level)"
    [style.--tertiary]="tertiary(equipment.level)"
    [style.--logo]="logo(equipment.level)"
  >
    <div
      class="header flex justify-between items-stretch h-[51px] overflow-hidden border-t-2 border-r-2 border-l-2 border-secondary"
    >
      <div
        class="logo size-[52px] ml-5 flex justify-center items-center relative bottom-[2px] flex-shrink-0"
      >
        <img
          class="size-[40px] invert"
          src="/assets/icon-{{ equipment.image }}.png"
        />
      </div>

      <div class="flex flex-col flex-grow">
        <div
          class="segoe-ui-bold font-bold uppercase text-white text-center flex-grow mr-5"
          [class.text-[15px]]="!equipment.longName"
          [class.pt-[7px]]="!equipment.longName"
          [class.text-[10px]]="equipment.longName"
          [class.pt-0]="equipment.longName"
        >
          {{ equipment.name }}
        </div>
        @if (equipment.type) {
          <div
            class="type bg-secondary text-center mr-[30px] min-h-[13px] px-[17px] uppercase text-[10px] relative flex-shrink-0"
          >
            {{ equipment.type }}
          </div>
        }
      </div>

      <div
        class="cost text-[#f04827] segoe-ui-bold italic font-bold text-base w-[37px] pt-2 leading-[15px] relative flex-shrink-0"
      >
        @if (equipment.cost > 0) {
          PG<br />{{ equipment.cost }}
        }
      </div>
    </div>

    <div
      class="text-justify leading-tight py-[5px] px-[6px] border-x-2 border-tertiary"
    >
      @if (equipment.nicknames) {
        <p class="my-[5px] mx-0 segoe-ui-italic text-right text-[12px]">
          {{ equipment.nicknames.includes("/") ? "Surnoms" : "Surnom" }}&nbsp;:
          {{ equipment.nicknames }}
        </p>
      }

      @if (equipment.summary) {
        <p class="my-[5px] mx-0 text-justify italic">{{ equipment.summary }}</p>
      }

      @if (equipment.description) {
        @for (text of equipment.description.split("\n"); track text) {
          <p class="my-[5px] mx-0 text-justify">{{ text }}</p>
        }
      }

      @if (equipment.quote || equipment.author) {
        <p class="my-[5px] mx-0">
          « <span class="italic">{{ equipment.quote }}</span> »
          @if (equipment.author) {
            —&nbsp;{{ equipment.author }}
          }
        </p>
      }
    </div>

    <div class="flex flex-col">
      @for (rule of equipment.rules; track rule) {
        <div
          class="flex bg-tertiary px-[2px] py-[1px] first:pt-[2px] last:pb-[2px]"
          [style.--primary]="primary(rule.level || equipment.level)"
          [style.--secondary]="secondary(rule.level || equipment.level)"
          [style.--tertiary]="tertiary(rule.level || equipment.level)"
          [style.--logo]="logo(rule.level || equipment.level)"
        >
          @if (rule.name) {
            <div
              class="flex flex-col items-center justify-center segoe-ui-bold text-center w-[72px] min-w-[72px] py-0 px-[10px] hyphens-auto break-words text-wrap"
            >
              {{ rule.name }}
            </div>
          }

          @if (isDescriptiveRule(rule)) {
            <div class="bg-primary pt-0 pb-0.5 px-[3px] flex-grow">
              @if (rule.important || rule.cost) {
                <p class="segoe-ui-bold italic font-bold text-base mb-[2px]">
                  @if (rule.important) {
                    <span class="text-[14px]">{{ rule.important }}</span>
                  }

                  @if (rule.important && rule.cost) {
                    <span class="text-[14px]"> - </span>
                  }

                  @if (rule.cost) {
                    <span class="text-[#f04827]">{{ rule.cost }} PG</span>
                  }
                </p>
              }

              @if (rule.description) {
                @for (text of rule.description.split("\n"); track text) {
                  <p class="text-justify">{{ text }}</p>
                }
              }
            </div>
          } @else if (isAttackRule(rule)) {
            <div class="flex flex-col flex-grow">
              <div class="grid grid-cols-4 justify-between gap-[2px]">
                <div class="flex flex-col">
                  <div
                    class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                  >
                    Dégâts
                  </div>
                  <div
                    class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                    [innerHTML]="rule.damageAsHtml(sanitizer) || '-'"
                  ></div>
                </div>

                <div class="flex flex-col">
                  <div
                    class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                  >
                    Violence
                  </div>
                  <div
                    class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                    [innerHTML]="rule.violenceAsHtml(sanitizer) || '-'"
                  ></div>
                </div>

                <div class="flex flex-col">
                  <div
                    class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                  >
                    Portée
                  </div>
                  <div
                    class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px] capitalize"
                  >
                    {{ rule.range || "-" }}
                  </div>
                </div>

                <div class="flex flex-col">
                  <div
                    class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                  >
                    Énergie
                  </div>
                  <div
                    class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                  >
                    {{ rule.energy || "-" }}
                  </div>
                </div>
              </div>

              @if (rule.effects.length) {
                <div class="bg-primary mt-[2px] text-[11px] pl-[3px]">
                  <span class="font-bold">
                    {{ rule.effects.length > 1 ? "Effets" : "Effet" }}&nbsp;:
                  </span>
                  <span class="italic">{{ effects(rule) }}</span>
                </div>
              }
            </div>
          } @else if (isModuleRule(rule)) {
            <div class="grid grid-cols-5 justify-between gap-[2px]">
              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  Slots
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                >
                  {{ rule.slots || "-" }}
                </div>
              </div>

              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  Activation
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                >
                  {{ rule.activation || "-" }}
                </div>
              </div>

              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  Durée
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                >
                  {{ rule.duration || "-" }}
                </div>
              </div>

              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  Portée
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px] capitalize"
                >
                  {{ rule.range || "-" }}
                </div>
              </div>

              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  Énergie
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                >
                  {{ rule.energy || "-" }}
                </div>
              </div>
            </div>
          } @else if (isDroneRule(rule)) {
            <div class="grid grid-cols-5 justify-between gap-[2px] flex-grow">
              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  Défense
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                >
                  {{ rule.defense || "-" }}
                </div>
              </div>

              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  Réaction
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                >
                  {{ rule.reaction || "-" }}
                </div>
              </div>

              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  Armure
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                >
                  {{ rule.armor || "-" }}
                </div>
              </div>

              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  CdF
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                >
                  {{ rule.forcefield || "-" }}
                </div>
              </div>

              <div class="flex flex-col">
                <div
                  class="uppercase segoe-ui-bold font-bold text-center text-[10px] tracking-[0.5px] pt-[5px] pb-[2px]"
                >
                  Vitesse
                </div>
                <div
                  class="text-center bg-primary py-0 px-[5px] flex-grow text-[10px]"
                >
                  {{ rule.speed || "-" }}
                </div>
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>
}
