::ng-deep .autocomplete.ng-autocomplete {
  .autocomplete-container {
    height: 30px;
  }

  .autocomplete-container .input-container input {
    color: #2e2a31;
    line-height: 30px;
    height: 30px;
    min-width: 0;
    font-size: 1rem;
    padding-left: 0.25rem;
  }

  .autocomplete-container .x {
    display: none;
  }
}

.page {
  width: 21cm;
  height: 29.7cm;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: white;
  color: black;
  clear: both;
  page-break-after: always;
  position: relative;
}

.page-number {
  clip-path: polygon(
    7px 0,
    calc(100% - 7px) 0,
    100% 7px,
    100% 100%,
    0 100%,
    0 7px
  );
  border-left: 5px solid var(--color);
  border-right: 5px solid var(--color);
}

.corner {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  top: 0;
  background: radial-gradient(circle, #00000000 0px, #00000066 100%),
    var(--color);

  &.corner-left {
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }

  &.corner-right {
    right: 0;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}

.page-title {
  border-bottom: 5px solid var(--color);

  &.page-title-left {
    background: linear-gradient(90deg, #2e2a31 0px, #2e2a31 20%, black 100%);

    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 5px),
      330px calc(100% - 5px),
      325px 100%,
      150px 100%,
      145px calc(100% - 5px),
      120px calc(100% - 5px),
      100px 40px,
      0 40px
    );
  }

  &.page-title-right {
    background: linear-gradient(90deg, black 0px, #2e2a31 80%, #2e2a31 100%);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 40px,
      calc(100% - 100px) 40px,
      calc(100% - 120px) calc(100% - 5px),
      calc(100% - 145px) calc(100% - 5px),
      calc(100% - 150px) 100%,
      calc(100% - 325px) 100%,
      calc(100% - 330px) calc(100% - 5px),
      0 calc(100% - 5px)
    );
  }
}

.page-sub-title {
  border: 5px solid var(--color);
  position: relative;

  clip-path: polygon(
    5px 5px,
    45% 5px,
    calc(45% + 5px) 0,
    calc(100% - 60px) 0,
    calc(100% - 55px) 5px,
    calc(100% - 30px) 5px,
    calc(100% - 5px) 30px,
    calc(100% - 5px) 35px,
    100% 40px,
    100% calc(100% - 20px),
    calc(100% - 5px) calc(100% - 15px),
    calc(100% - 5px) calc(100% - 5px),
    30% calc(100% - 5px),
    calc(30% - 5px) 100%,
    60px 100%,
    55px calc(100% - 5px),
    35px calc(100% - 5px),
    5px calc(100% - 35px),
    5px calc(100% - 40px),
    0 calc(100% - 45px),
    0 15px,
    5px 10px
  );

  &.incarnation .npc-name {
    text-shadow:
      -1px -1px 15px var(--color),
      -1px 1px 15px var(--color),
      1px 1px 15px var(--color),
      1px -1px 15px var(--color);
  }

  &.incarnation,
  &.elite {
    margin-bottom: 25px;
  }

  &.incarnation {
    clip-path: polygon(
      5px 5px,
      45% 5px,
      calc(45% + 5px) 0,
      calc(100% - 60px) 0,
      calc(100% - 55px) 5px,
      calc(100% - 30px) 5px,
      calc(100% - 5px) 30px,
      calc(100% - 5px) 35px,
      100% 40px,
      100% calc(100% - 20px),
      calc(100% - 5px) calc(100% - 15px),
      calc(100% - 5px) calc(100% - 5px),
      486px calc(100% - 5px),
      486px calc(100% + 16px),
      481px calc(100% + 21px),
      360px calc(100% + 21px),
      355px calc(100% + 16px),
      355px calc(100% - 5px),
      30% calc(100% - 5px),
      calc(30% - 5px) 100%,
      60px 100%,
      55px calc(100% - 5px),
      35px calc(100% - 5px),
      5px calc(100% - 35px),
      5px calc(100% - 40px),
      0 calc(100% - 45px),
      0 15px,
      5px 10px
    );
  }

  &.elite {
    background: repeating-linear-gradient(
      135deg,
      #2e2a31 0px,
      #2e2a31 2px,
      black 4px,
      #2e2a31 6px
    );
    box-shadow: 0 0 10px 12px #2e2a31 inset;

    clip-path: polygon(
      5px 5px,
      45% 5px,
      calc(45% + 5px) 0,
      calc(100% - 60px) 0,
      calc(100% - 55px) 5px,
      calc(100% - 30px) 5px,
      calc(100% - 5px) 30px,
      calc(100% - 5px) 35px,
      100% 40px,
      100% calc(100% - 20px),
      calc(100% - 5px) calc(100% - 15px),
      calc(100% - 5px) calc(100% - 5px),
      645px calc(100% - 5px),
      645px calc(100% + 16px),
      640px calc(100% + 21px),
      590px calc(100% + 21px),
      585px calc(100% + 16px),
      585px calc(100% - 5px),
      30% calc(100% - 5px),
      calc(30% - 5px) 100%,
      60px 100%,
      55px calc(100% - 5px),
      35px calc(100% - 5px),
      5px calc(100% - 35px),
      5px calc(100% - 40px),
      0 calc(100% - 45px),
      0 15px,
      5px 10px
    );
  }

  &.incarnation.elite {
    clip-path: polygon(
      5px 5px,
      45% 5px,
      calc(45% + 5px) 0,
      calc(100% - 60px) 0,
      calc(100% - 55px) 5px,
      calc(100% - 30px) 5px,
      calc(100% - 5px) 30px,
      calc(100% - 5px) 35px,
      100% 40px,
      100% calc(100% - 20px),
      calc(100% - 5px) calc(100% - 15px),
      calc(100% - 5px) calc(100% - 5px),
      645px calc(100% - 5px),
      645px calc(100% + 16px),
      640px calc(100% + 21px),
      590px calc(100% + 21px),
      585px calc(100% + 16px),
      585px calc(100% - 5px),
      486px calc(100% - 5px),
      486px calc(100% + 16px),
      481px calc(100% + 21px),
      360px calc(100% + 21px),
      355px calc(100% + 16px),
      355px calc(100% - 5px),
      30% calc(100% - 5px),
      calc(30% - 5px) 100%,
      60px 100%,
      55px calc(100% - 5px),
      35px calc(100% - 5px),
      5px calc(100% - 35px),
      5px calc(100% - 40px),
      0 calc(100% - 45px),
      0 15px,
      5px 10px
    );
  }
}

.npc-elite,
.npc-incarnation {
  position: absolute;
  background-color: var(--color);
  color: white;
  font-family: "Segoe UI Bold", sans-serif;
  text-transform: uppercase;
  padding: 0 10px 2px 10px;
  bottom: -26px;
}

.npc-elite {
  left: 580px;
}

.npc-incarnation {
  left: 350px;
}

.cover-title {
  font-family: "Black Ops One", sans-serif;
  color: white;
  text-shadow: 0 0 10px var(--color);
  font-size: 100px;
  text-align: center;
  padding: 100px 20px 0 20px;
  text-transform: uppercase;

  &.cover-title-smaller {
    font-size: 80px;
    padding: 300px 20px 0 20px;
  }
}

.cover-author {
  color: var(--color);
}

@media print {
  .page {
    margin: 0;
  }
}
