@if (printMode) {
  <div class="ml-4 my-3 flex items-center print:hidden">
    <app-icon
      class="size-6 inline-block mr-2"
      icon="information-circle"
    ></app-icon>
    <span class="text-sm">
      Pour convertir votre codex en PDF, vous devez utiliser la fonction
      "Imprimer en PDF" de votre navigateur. Utilisez l'orientation "Portrait",
      le format "A4", aucune marge et imprimez les arrières-plans.
    </span>
  </div>
}

<hr
  class="print:hidden mx-20 my-10 border border-white [box-shadow:_-0_-0_10px_5px_white]"
/>

<div id="vs-start" [style.height]="vsBefore + 'px'"></div>

@for (page of displayedPages; track page) {
  <div class="flex justify-between mx-4 h-[1138.52px] print:mx-0">
    <div
      class="print:hidden text-white h-[29.7cm] flex flex-col gap-1 bg-[#2e2a31] p-2 flex-grow mr-4"
    >
      @if (!printMode) {
        <div class="flex flex-col">
          <label
            class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
          >
            Titre de la page
          </label>
          <input
            class="text-[#2e2a31] h-[30px] pl-1"
            type="text"
            placeholder="Titre de la page"
            [(ngModel)]="page.title"
            (ngModelChange)="page.onChange()"
          />
        </div>
        @if (isBestiaryPage(page)) {
          <div class="flex flex-col">
            <label
              class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
            >
              Nom
            </label>
            <div class="flex">
              <ng-autocomplete
                class="autocomplete flex-grow"
                [data]="db.npcs"
                searchKeyword="name"
                [initialValue]="page.npcName"
                [customFilter]="npcFilter"
                [itemTemplate]="npcTemplate"
                (inputChanged)="page.onNpcNameChange($event)"
                (selected)="page.onNpcSelected($event)"
                [focusFirst]="true"
                placeholder="Nom"
              ></ng-autocomplete>
              <button
                class="size-[30px] min-w-[30] flex items-center justify-center border border-white bg-white text-[#2e2a31] mx-0.5 hover:bg-[#2e2a31] hover:text-white"
                (click)="page.elite = !page.elite"
              >
                <app-icon
                  class="size-5"
                  [icon]="page.elite ? 'bolt' : 'bolt-slash'"
                ></app-icon>
              </button>

              <button
                class="size-[30px] min-w-[30] flex items-center justify-center border border-white bg-white text-[#2e2a31] mr-0.5 hover:bg-[#2e2a31] hover:text-white"
                (click)="page.incarnation = !page.incarnation"
              >
                <app-icon
                  class="size-5"
                  [icon]="page.incarnation ? 'sparkles' : 'star'"
                ></app-icon>
              </button>

              <button
                class="size-[30px] min-w-[30] flex items-center justify-center border border-white bg-white text-[#2e2a31] mr-0.5 hover:bg-[#2e2a31] hover:text-white"
                (click)="page.changeTwoColumns()"
              >
                <app-icon
                  class="size-5"
                  [icon]="page.twoColumns ? 'zoom-in' : 'zoom-out'"
                ></app-icon>
              </button>
            </div>
          </div>

          <label
            class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
          >
            Description
          </label>
          <textarea
            class="text-[#2e2a31] pl-1 flex-grow"
            placeholder="Description"
            [(ngModel)]="page.description"
            (ngModelChange)="page.onChange()"
          ></textarea>

          <label
            class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
          >
            Citation
          </label>
          <textarea
            class="text-[#2e2a31] pl-1 h-[85px]"
            placeholder="Description"
            [(ngModel)]="page.quote"
            (ngModelChange)="page.onChange()"
          ></textarea>

          <label
            class="uppercase segoe-ui-bold-italic font-bold text-xs h-[30px] flex flex-col justify-center content-center text-center"
          >
            Auteur
          </label>
          <input
            class="text-[#2e2a31] h-[30px] pl-1"
            type="text"
            placeholder="Nom"
            [(ngModel)]="page.author"
            (ngModelChange)="page.onChange()"
          />
        }
      }
    </div>
    <div [id]="page.id" class="page" [style.--color]="page.color">
      <div [id]="'content-' + page.id">
        @if (page.title) {
          <div
            class="text-center text-white min-h-[60px] pt-5 pb-4 uppercase text-lg tracking-[12px] page-title"
            [class.page-title-left]="$odd"
            [class.page-title-right]="$even"
          >
            {{ page.title }}
          </div>
        }

        <div class="mx-[1.75cm]">
          @if (isBestiaryPage(page)) {
            <div
              class="text-center text-white bg-[#2e2a31] min-h-[80px] py-5 mt-10 mb-2 uppercase text-4xl segoe-ui-bold font-bold npc-name"
              [class.elite]="page.elite"
              [class.incarnation]="page.incarnation"
            >
              {{ page.npc?.name }}
            </div>

            @if (page.twoColumns) {
              <div class="flex items-start">
                <div
                  [id]="'description-' + page.id"
                  class="article-content leading-tight text-sm w-[200px] flex-shrink-0 mr-2"
                  [innerHTML]="converter.makeHtml(page.description)"
                ></div>

                @if (page.npc) {
                  <app-npc
                    [id]="'npc-' + page.id"
                    [npc]="page.npc"
                    [style.transform]="'scale(' + page.npcScale + ')'"
                    [style.margin-bottom]="page.npcMarginBottom + 'px'"
                    class="origin-top-left"
                  ></app-npc>
                }
              </div>
            } @else {
              <div
                [id]="'description-' + page.id"
                class="article-content leading-tight text-sm"
                [innerHTML]="converter.makeHtml(page.description)"
              ></div>

              @if (page.npc) {
                <div class="npc flex items-center justify-center my-5">
                  <app-npc
                    [id]="'npc-' + page.id"
                    [npc]="page.npc"
                    [style.transform]="'scale(' + page.npcScale + ')'"
                    [style.margin-bottom]="page.npcMarginBottom + 'px'"
                    class="origin-top"
                  ></app-npc>
                </div>
              }
            }

            @if (page.quote) {
              <div
                class="quote-content text-center"
                [innerHTML]="
                  converter.makeHtml('====« ====' + page.quote + '==== »====')
                "
              ></div>
              @if (page.author) {
                <div class="text-right">—&nbsp;{{ page.author }}</div>
              }
            }

            @if ($odd) {
              <div class="corner corner-right"></div>
            } @else {
              <div class="corner corner-left"></div>
            }
          }
        </div>

        @if (!$first) {
          <div
            class="absolute bottom-0 left-[8cm] right-[8cm] py-1 h-[32px] bg-[#2e2a31] text-center text-white page-number"
          >
            - {{ $index + 1 }} -
          </div>
        }
      </div>
    </div>
  </div>
}

<div [style.height]="vsAfter + 'px'"></div>

<ng-template #npcTemplate let-item>
  <a>
    <div
      class="inline-block size-4 rounded-full mr-1 relative top-[2px]"
      [style.background-color]="item.color"
    ></div>
    <strong [innerHTML]="item.name"></strong><br />
    <small class="capitalize">{{ item.type }} ({{ item.level }})</small>
  </a>
</ng-template>
