<div class="2xl:flex 2xl:flex-row 2xl:justify-between">
  <div class="m-3">
    <app-npc-form [npc]="npc"></app-npc-form>
  </div>

  <div class="m-3 sm:flex sm:flex-col sm:items-center 2xl:block 2xl:flex-none">
    <app-npc id="npc" [npc]="npc"></app-npc>
    <div class="flex flex-row mt-1">
      <button
        class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
        (click)="saveNpc(npc)"
        tabindex="-1"
      >
        <app-icon class="size-5 block" icon="save"></app-icon>
      </button>

      <button
        class="size-7 min-w-7 ml-2 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
        (click)="image('npc')"
        tabindex="-1"
      >
        <app-icon class="size-5 block" icon="camera"></app-icon>
      </button>

      <button
        class="size-7 min-w-7 ml-2 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
        (click)="importModal.open()"
        tabindex="-1"
      >
        <app-icon class="size-5 block" icon="import"></app-icon>
      </button>

      <button
        class="size-7 min-w-7 ml-2 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
        (click)="export(npc)"
        tabindex="-1"
      >
        <app-icon class="size-5 block" icon="export"></app-icon>
      </button>
    </div>
  </div>
</div>

<hr
  class="mx-20 my-10 border border-white [box-shadow:_-0_-0_10px_5px_white]"
/>

<h2
  class="orbitron text-4xl ml-4 mb-2 tracking-widest [text-shadow:_0_0_4px_white]"
>
  PNJ sauvegardés
</h2>

<div class="ml-4 mb-3 flex items-center">
  <app-icon class="inline-block size-5 mr-1" icon="warning"></app-icon>
  <span class="text-sm">
    Les PNJ sauvegardés sont stockés dans les données locales de votre
    navigateur.
  </span>
</div>

<div class="flex flex-row flex-wrap justify-center">
  @for (npc of db.npcs; track npc; let index = $index) {
    <div class="mx-3 mb-10">
      <app-npc id="npc-{{ $index }}" [npc]="npc"></app-npc>
      <div class="flex flex-row justify-between mt-1">
        <div class="flex flex-row">
          <button
            class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
            (click)="editNpc(npc)"
            tabindex="-1"
          >
            <app-icon class="size-5 block" icon="pencil"></app-icon>
          </button>

          <button
            class="size-7 min-w-7 ml-2 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
            (click)="image('npc-' + index)"
            tabindex="-1"
          >
            <app-icon class="size-5 block" icon="camera"></app-icon>
          </button>

          <button
            class="size-7 min-w-7 ml-2 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
            (click)="export(npc)"
            tabindex="-1"
          >
            <app-icon class="size-5 block" icon="export"></app-icon>
          </button>
        </div>
        <button
          class="size-7 min-w-7 flex items-center justify-center border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white"
          (click)="deleteNpc(npc)"
          tabindex="-1"
        >
          <app-icon class="size-5 block" icon="X"></app-icon>
        </button>
      </div>
    </div>
  }
</div>

<app-modal-canvas #imageModal target="test"></app-modal-canvas>

<app-modal #importModal>
  <p class="text-justify text-sm">
    Vous pouvez coller ici le résultat d'un export de PNJ pour l'importer.
  </p>

  <div class="flex flex-col mt-2">
    <textarea #importInput class="text-[#2e2a31] h-24 pl-1 text-sm"></textarea>

    <button
      class="h-[28px] mt-2 border border-white bg-white text-[#2e2a31] hover:bg-[#2e2a31] hover:text-white flex items-center justify-center"
      (click)="import(importInput.value)"
    >
      <app-icon class="size-5 block" icon="import"></app-icon>
      <span>Importer</span>
    </button>
  </div>
</app-modal>

<app-modal #exportModal>
  <p class="text-justify text-sm">
    Vous pouvez copier/coller ce texte et l'utiliser pour importer un PNJ dans
    tout outil supportant ce format. Vous pouvez bien sur l'utiliser dans
    l'outil d'import de Knight NPC Generator.
  </p>

  <div class="flex flex-col mt-2">
    <textarea class="text-[#2e2a31] h-24 pl-1 text-sm">{{ exported }}</textarea>
  </div>
</app-modal>
