.left .codex-npc {
  position: relative;
  left: -20px;
}

.codex-npc,
.codex-vehicle,
.codex-equipment {
  margin-top: 16px;
  margin-bottom: 16px;
}

::ng-deep .codex-content {
  color: #2e2a31;
  line-height: 1.1;
  font-size: 0.75rem;
  font-family: "Segoe Regular", sans-serif;

  em {
    font-family: "Segoe UI Italic", sans-serif;
  }

  strong {
    font-family: "Segoe UI Bold", sans-serif;
    font-weight: normal;
  }

  em strong,
  strong em {
    font-family: "Segoe UI Bold Italic", sans-serif;
  }

  hr {
    border-color: var(--color);
    border-width: 1px;
    margin: 4px 16px 4px 16px;
  }

  p {
    margin-bottom: 10px;
    text-align: justify;

    &:last-child {
      margin-bottom: 0;
    }

    &:has(+ ul),
    &:has(+ ol) {
      margin-bottom: 0;
    }
  }

  h1 {
    text-align: center;
    color: white;
    background-color: #2e2a31;
    min-height: 80px;
    padding: 20px 0 20px 0;
    margin: 10px 0 8px 0;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 40px;
    font-family: "Segoe UI Bold", sans-serif;
    font-weight: bold;
    border: 5px solid var(--color);

    clip-path: polygon(
      5px 5px,
      45% 5px,
      calc(45% + 5px) 0,
      calc(100% - 60px) 0,
      calc(100% - 55px) 5px,
      calc(100% - 30px) 5px,
      calc(100% - 5px) 30px,
      calc(100% - 5px) 35px,
      100% 40px,
      100% calc(100% - 20px),
      calc(100% - 5px) calc(100% - 15px),
      calc(100% - 5px) calc(100% - 5px),
      30% calc(100% - 5px),
      calc(30% - 5px) 100%,
      60px 100%,
      55px calc(100% - 5px),
      35px calc(100% - 5px),
      5px calc(100% - 35px),
      5px calc(100% - 40px),
      0 calc(100% - 45px),
      0 15px,
      5px 10px
    );
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
    font-family: "Segoe UI Bold", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  h3 {
    margin-left: 16px;
    font-family: "Segoe Regular", sans-serif;
    font-weight: bold;
  }

  .panel {
    display: block;
    background-color: #42505a;
    padding: 8px 16px 16px 16px;
    color: white;

    h1 {
      text-align: center;
      font-family: "Segoe Regular", sans-serif;
      font-weight: bold;
    }
  }

  .link {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #5bc5f2;
    text-shadow: none;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  ol,
  ul {
    margin-left: 15px;
    margin-bottom: 10px;
    line-height: 1.1;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  big {
    color: var(--color);
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 20px;

    &.bigger {
      font-size: 28px;
    }

    &.biggest {
      font-size: 40px;
    }
  }
}
